/* General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
    color: $foreground-color;
}

h1{
    color: $header-color;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: $subheader-color;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 8px;
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.6rem;
}

p {
    margin-bottom: 2rem;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

strong {
    color: lighten($foreground-color, 20%);
}

code {
    background-color: $inline-code-background;
    color: $inline-code-color;
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    overflow-x: auto;
    border: none;
}

img {
    max-width: 100%;
}

ol {
    list-style-position: outside;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    li {
        margin: 0;
        padding-left: 1.5em;
    }
    li:before {
        content: "\f35a";
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        margin-left: -1.5em;
        width: 1.5em;
    }
}

blockquote {
    border-left: 8px solid $color-info;
    background: $blockquote-background;
    margin-inline-start: 0;
    margin-inline-end: 0px;
    padding-top: 6px;
    padding-bottom: 6px;

    &.warning {
        border-color: $color-warning;
    }
    &.danger {
        border-color: $color-danger;
    }

    p {
        margin: 1rem;
    }

    &.terminal {
        background-image: url("/assets/images/terminal-icon.png");
        background-repeat: no-repeat;
        background-position: 18px 10px;
        background-size: 100px;
        min-height: 80px;
        padding-left: 128px;
    }
}

td {
    border: none;
}

.page-content {
    padding-top: 2rem;
}

.post-title, .post-title a {
    margin: 0;
    color: $header-color;
}

.post-info {
    font-weight: 100;
    height: 1.3rem;
    line-height: 1.3rem;
    vertical-align: middle;
    margin-bottom: 1rem;
    color: $post-info-color;

    .post-date {
        margin-right: .5rem;
        display: inline-block;
        font-size: 1.25rem;
    }

    .post-tags {
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;

        .post-tag {
            margin-right: .5rem;
            text-transform: uppercase;
            padding: 2px 5px;
            background-color: $badge-background-color;
            color: $badge-text-color;
            border-radius: 3px;
        }
    }
}

.post-list-item {
    padding-bottom: 1.2rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid $post-list-item-border;

    .post-title {
        font-family: Roboto, Arial, Helvetica, sans-serif;
        padding-top: 0;
    }

    .post-item-img {
        text-align: right;
        .feature-img {
            width: 100%;
            height: 120px;
            object-fit: contain;
            // border: 1px solid #ccc;
            // background: $post-list-item-image-background;
            border-radius: 4px;
        }
    }
}

.post-excerpt {
    p {
        margin: 0;
    }

    // hide conent images in excerpts
    img {
        display: none;
    }
}

.post-content .post-excerpt {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    margin: 20px 0px 20px 0px;
    color: $excerpt-text-color;
}

.post-readmore {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;    

    .post-readmore-text {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 10px;
    }

    .post-readmore-icon {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 12px;
        // svg {
        //     width: 10px;
        //     height: 10px;
        //     fill: $link-color;
        // }
    }
}

.post-content {
    padding-top: 2rem;

    img[align="right"],
    img[align="left"] {
        margin: 0 2rem 2rem 2rem;
        max-width: 300px;
    }

    img:not([align]),
    img[align=""] {
        width: 100%;
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    h5 {
        font-size: 1.6rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

@media (max-width: 550px) {
    .post-info {
        height: inherit;
        line-height: inherit;
        vertical-align: inherit;
        overflow: auto;
   
        .post-date {
            display: block;
            margin-bottom: 4px;
        }
    
        .post-tags {
            display: block;
            margin-bottom: 4px;
            max-width: 100%;

            .post-tag {
                display: block;
                float: left;
            }
        }
    }

    .post-list-item {
        .post-item-text {
            margin: 0;
            float: none;
            box-sizing: unset;
        }
        .post-item-img {
            display: none;
        }
    }
}

.footer {
    margin: 2rem auto 2rem auto;
    padding-top: 1rem;
    border-top: 1px solid $navbar-border-color;
    font-size: 1.2rem;
    color: $footer-text-color;
    text-align: center;
}

.clear-both {
    clear: both;
}
