/* Style Settings */

/* color palette */
$color-info: #4087a3;
$color-tip: #3f9b3f;
$color-warning: #dbdb00;
$color-danger: #b42727;

/* General Stuff */
$foreground-color: #c9d1d9;
$background-color: #0d1117;
$subheader-color: #8b949e;
$link-color: #58a6ff;
$blockquote-background: #171b24;
$inline-code-color: #d6d58c;
$inline-code-background: inherit;
$excerpt-text-color: $subheader-color;
$border-color: #30363d;
$badge-background-color: #38669b;
$badge-text-color: $foreground-color;
$footer-text-color: #4a5766;

/* Navigation Bar */
$navbar-height: 80px;
$navbar-height-mobile: 40px;
$navbar-background-color: $background-color;
$navbar-border-color: #30363d;

/* Social Icons */
$social-icon-size: 25px;
$social-icon-size-mobile: 20px;
$social-icon-color: $link-color;
