/* Style Settings */

/* color palette */
$color-darkest: #011f4b;
$color-darker: #03396c;
$color-medium: #005b96;
$color-lighter: #6497b1;
$color-lightest: #b3cde0;

/* General Stuff */
$link-color: $color-medium;
$post-info-color: $color-lighter;
$badge-background-color: $color-darkest;
$badge-text-color: white;
$footer-text-color: rgb(97, 97, 97);
$blockquote-background: $color-lightest;

/* Navigation Bar */
$navbar-height: 80px;
$navbar-height-mobile: 40px;
$navbar-background-color: white;
$navbar-border-color: #e0e0e0;

/* Social Icons */
$social-icon-size: 25px;
$social-icon-size-mobile: 20px;
$social-icon-color: $color-lighter;
