---
layout: default
---

<div>
  {{ content }}

  {%- if site.posts.size > 0 -%}

    {%- for post in site.posts -%}
    <div class="post-list">

      <div class="post-list-item">

        {%- if post.featured-img -%}
          <div class="row">
            <div class="nine columns post-item-text">
              {%- include post-item.html -%}
            </div>
            <div class="three columns post-item-img">
              {%- include post-item-img.html -%}
            </div>
          </div>
        {%- else -%}
          {%- include post-item.html -%}
        {%- endif -%}

      </div>
    </div>
    {%- endfor -%}

  {%- endif -%}

</div>
